/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;

}

.gwt-hpanel1-style {
  background-color: #D6FCF7;

}

.gwt-Label{ 
   font-size: 150%; 
   color:blue;
   padding:5px;
   margin:5px;
}

.gwt-Image{ 
   padding:5px;
   margin:5px;
}

.gwt-Font300{ 
   font-size: 300%;
   font-weight: bold;   
   text-align: center;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
